<h3><%= @restaurant.name %></h3>
<ul>
<li><%= @restaurant.category %></li>
<li><%= @restaurant.phone_number %></li>
<li><%= @restaurant.address %></li>
</ul>
<hr>
<ul>
<% @restaurant.reviews.each do |r| %>
<%= r.rating %>/5
<%= r.content %>
<br />
<% end %>
</ul>
<hr>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :rating, collection: Review::RATING %>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<hr>
<%= link_to "See all restaurants", root_path %>
